language: haskell
sudo: false

cache:
  directories:
  - $HOME/.stack/

matrix:
  include:
    - env: CABALVER=1.22 GHCVER=7.10.3
      addons: {apt: {packages: [cabal-install-1.22,ghc-7.10.3],sources: [hvr-ghc]}}

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar -xzO --wildcards '*/stack' > ~/.local/bin/stack
  - chmod a+x ~/.local/bin/stack

install:
  - stack -j 2 setup --no-terminal
  - stack -j 2 build --only-snapshot --no-terminal

script:
  - git --version
  - stack --version
  - stack -j 2 test --no-terminal
  - mkdir -p to-travis
  - cp $(stack exec which fmon) to-travis

deploy:
  provider: releases
  api_key:
    secure: XOV4cFwfW52TxbWGNAeVI1BnSmnVboHv1z9gh1gq1zJzgoPqzXjSE+fJYi4MsoCHUueZpl0tTJXPwIGcusp5drT/8FePbHEj5veEf3e92pCwF3P/Oy1i6xWRLt23PcpbxIBJBcsAgG2GVOESy3pfsZd1lDA02IL7sicL56kYWVE=
  file: "to-travis/fmon"
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
    repo: tshm/fmon

